@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ecf2f8;
}

body {
  background: var(--background);
}

@layer utilities {
  .min-h-screen {
    min-height: 100vh;
    min-height: 100dvh;
  }
}
